body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#threejs-background {
    position: fixed; /* Fijo para cubrir toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0; /* Fondo */
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Encima del fondo */
    position: relative; /* Para permitir el uso del z-index */
}

a {
    font-size: large;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00ffcc;
}

section {
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #333;
    position: relative; /* Para permitir el uso del z-index */
    z-index: 1; /* Encima del fondo */
}

#titulo {
    font-size: 4rem;
    color: white;
    text-shadow: 
        0 0 5px #ffffff, 
        0 0 10px #cccccc, 
        0 0 15px #999999, 
        0 0 20px #666666, 
        0 0 25px #333333, 
        0 0 30px #000000, 
        0 0 35px #000000;
    animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
    0% {
        text-shadow: 
            0 0 5px #ffffff, 
            0 0 10px #cccccc, 
            0 0 15px #999999, 
            0 0 20px #666666, 
            0 0 25px #333333, 
            0 0 30px #000000, 
            0 0 35px #000000;
    }
    100% {
        text-shadow: 
            0 0 10px #ffffff, 
            0 0 20px #cccccc, 
            0 0 30px #999999, 
            0 0 40px #666666, 
            0 0 50px #333333, 
            0 0 60px #000000, 
            0 0 70px #000000;
    }
}


img {
    transition: transform 0.3s ease; /* Transición suave */
}

img:hover {
    transform: scale(1.1); /* Aumentar el tamaño */
}


